* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
   background: rgb(201, 46, 46); 
  color: rgba(255, 255, 255, 0.87);
} 

/* the homepage app styles */
.header{
margin: 10px;
}
.podcasts{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:15px;
  background-color: #bf5454;
  margin-top: 20px;
  padding: 10px;

}
.podcast--title{
  color: black;
}


 .show--item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
 }

 .show-item > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

 .show--item > img{
 max-width: 100%;
 height: auto;
 } 

 /* preview syles */
 
 .preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px red;
  z-index: 1000;
  background-color: #bf5454;


}

.preview-image {
  height: auto;
  width: 40%; /* Adjust the width as needed */
  margin-top: 10px;
 
}
.preview-description {
  margin: 10px;
  max-height: 400px;
  overflow-y: auto;
  font-size: 13px;
  color: white;
}



.preview--btns{
  padding: 3px;
  margin: 20px;
}
.read-more--btn{
  padding: 2px;
  margin: 5px;
  background-color: rgb(173, 8, 8);
}

.close--btn{
  padding: 2px;
  margin: 5px;
  background-color: rgb(173, 8, 8);
}


.seasons--btn{
  padding: 2px;
  margin: 5px;
  background-color: rgb(173, 8, 8);
}


.preview--title{
  color: black;
}

/* search field styles */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  justify-content: flex-end; /* This aligns the content to the far right */
  position: relative;
  max-width: 190px;
  margin-left: auto;
 }

.input {
   margin-left: 10px;
  height: 30px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.87);
  color: #0d0c22;
  box-shadow: 0 0 5px #cb4949, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

/* carousel styles */

.carousel-box{

  z-index: index 900;
  margin-top: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250;
  overflow-x: scroll;
}

.carousel{
  margin-left: 10px;
}

.carousel-images{
 
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
  max-width: none;
  height: 200px;

}

/* Sorting Styles */
.sort {
  margin-bottom: 10px;
  margin-left: 10px;
}


.searchbtn, 
.search-button {
   display: flex; 
  justify-content: center;
  align-items: center;
 background: linear-gradient(
  );
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 5px;
  padding: 18px 15px;
  
}

.sort {
color: rgb(245, 217, 213);
}


/* Show Seasons CSS Styles */
 .season-details {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
  z-index: 9999;
  height: 88%; /* Adjust the height as needed */
  width: 60%; /* Adjust the width as needed */
  position: fixed;
  top: 50px; /* Adjust the top position to leave space for the navbar */
  overflow-y: scroll;
  color: white;
  margin-top: 20px; /* Add some top margin to push it down */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  backdrop-filter: blur(20px); /* Adjust the blur amount as needed */
  border-radius: 0.7rem;
} 




